.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: lightgray;
    text-align: center;

    .container-content {
        width: 90%;
        margin: 0 auto;
    }
}

.comment-form {
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
}