%wrapper{
    padding: 0.5rem;
    background-color: white;
}

.container {
    max-width: 640px;
    margin: 0 auto;
    background-color: lightgray;
    text-align: center;

    .container-content {
        width: 90%;
        margin: 0 auto;

        .form-for-comment {
            @extend %wrapper;
            -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(0, 0, 0, 0.75);


            input, textarea{
                margin-bottom: 20px; 
            }
        
            button{
                width: fit-content;
                background-color: cornflowerblue;
                border-radius: 5px;
            }
        }
    }
}



