%wrapper{
    padding: 0.5rem;
    background-color: white;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.75);
    margin-bottom: 15px;
}

.in-update-mode{
    display: none;
}

.btn{
    color: #fff!important;
    background-color: #009688!important;
    padding: 8px 16px;
    border: none;
    outline: 0;
    margin: 5px 0;
    width: fit-content;
}

.container {
    max-width: 640px;
    margin: 0 auto;
    background-color: lightgray;

    header{
        text-align: center;
    }

    .container-content {
        width: 90%;
        margin: 0 auto;

        .comment{
            position: relative;
            @extend %wrapper;

            img{
                float: left;
                margin-right: 10px;
            }
            .icons{
                position: absolute;
                top: 7px;
                right: 7px; 
                
                i{
                    padding: 5px;
                }
            }
        }

        .form-for-comment {
            @extend %wrapper;
            display: flex;
            flex-direction: column;
           


            input, textarea{
                margin-bottom: 20px; 
            }
        }
    }
}



